*{
    margin: 0;
    padding: 0;
}

/* Base + Texte */

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:#00695C;
    font-family: 'Roboto';
}

h1{
    font-size: 1.8em;
    text-transform: uppercase;
    padding: 2px;
}

h2{
    font-size: 1.7em;
}

header{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #004D40;
    border-radius: 10px;
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 100px;
}

/* gestion des listes */

#listing{
    margin: 10px 0;
}

.liste{
    width: 200px;
    height: auto;
    margin: 5px;
}

select{
    font-size: 1.3em;
    background-color: #004D40;
    border-radius: 25px;
}

option{
    font-size: 1em;
    background-color: #004D40;
}

/* gestion des bandeaux */

.bandeaufilm{
    width: 90%;
    height: 150px;
    border: 1px solid black;
    margin-top: 20px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
   
}
@media screen and (min-width: 960px) {
    .bandeaufilm {
        height: auto;
        align-items: center;
    }
}

.affiche{
    width: 100px;
    height: 150px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.text{
    width: 90%;
    margin-left: 10px;
    text-align: left;
}
                    
#titreAn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

#acteursPays {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
}

.paysLiens {
    margin-top: 20px;
    margin-right: 20px;
}

#utilisateur {
    padding-top: 20px;
}

.gras {
    font-weight: bold;
}

#new{
    height: 20px;
    text-decoration: none;
    width: 130px;
    background-color: darkcyan;
    border-radius: 25px;
    margin-top: 10px;
    padding: 0.3em;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    outline-color: #00695C;
}

input{
    height: 30px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
}
